.prettierrc linguist-language=JSON

.huskyrc linguist-language=JSON
.lintstagedrc linguist-language=JSON

.markdownlintrc linguist-language=JSON
.markdownlintignore linguist-language=Ignore-List

.imgbotconfig linguist-language=JSON

.snyk linguist-language=YAML
