.prettierrc linguist-language=JSON

.lintstagedrc linguist-language=JSON

.markdownlintrc linguist-language=JSON
.markdownlintignore linguist-language=Ignore-List

.vscodeignore linguist-language=Ignore-List
