{
  "**/*.@(js|jsx|ts|tsx)": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*@(md)": [
    "markdownlint --fix",
    "prettier --write"
  ],
  "**/*.@(json|yml)": [
    "prettier --write"
  ]
}
