# VSCode
.vscode/**
.vscode-test/**
vsc-extension-quickstart.md

# Git
.github/**
.gitignore

# Config
**/jsconfig.json
**/.eslintrc.json
**/.markdownlint.json
**/.travis.yml
webpack.config.js
tsconfig.json

# Extension
src/
out/
node_modules

# Misc
**/*.map
**/.DS_Store